.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 750px;
  min-height: 1px;
  width: 100%;
}

.row {
  display: flex;
  border: none;
  max-width: 100%;
}
[class*="col-"] {
	border: none;
  display: flex;
	min-height: 1px;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: ((100%/12) * $i);
	}
}

@for $i from 0 through 11 {
	.col-offset-#{$i} {
		width: ((100%/12) * $i);
	}
}

@media (min-width: 1200px) {
  @for $i from 1 through 12 {
  	.col-xl-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }

  @for $i from 0 through 11 {
  	.col-xl-offset-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }
}

@media (min-width: 992px) {
  @for $i from 1 through 12 {
  	.col-lg-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }

  @for $i from 0 through 11 {
  	.col-lg-offset-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }
}

@media (min-width: 768px) {
  @for $i from 1 through 12 {
  	.col-md-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }


  @for $i from 0 through 11 {
  	.col-md-offset-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }
}

@media (min-width: 576px) {
  @for $i from 1 through 12 {
  	.col-sm-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }

  @for $i from 0 through 11 {
  	.col-sm-offset-#{$i} {
  		width: ((100%/12) * $i);
  	}
  }
}
