@font-face {
  font-family: 'grotesk-light';
  src: url(/vendor/SpaceGrotesk-Light.otf);
}

@font-face {
  font-family: 'grotesk-regular';
  src: url(/vendor/SpaceGrotesk-Regular.otf);
}

@font-face {
  font-family: 'grotesk-medium';
  src: url(/vendor/SpaceGrotesk-Medium.otf);
}

@font-face {
  font-family: 'grotesk-semiBold';
  src: url(/vendor/SpaceGrotesk-SemiBold.otf);
}

@font-face {
  font-family: 'grotesk-bold';
  src: url(/vendor/SpaceGrotesk-Bold.otf);
}
