@import './layout.scss';
@import './pages/akustyczni';
@import './components/main';
@import './sections/jumbo';
@import './sections/navigation';
@import './sections/footer';



* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
