@import './layout.scss';
@import './pages/repertuar';
@import './pages/akustyczni';
@import './pages/faq';
@import './pages/contact';
@import './pages/on_wedding';
@import './pages/galeria';
@import './components/main';
@import './sections/jumbo';
@import './sections/navigation';
@import './sections/footer';
@import './sections/form';

* {
  background: rgba(38, 38, 38, 0.9);
  box-sizing: border-box;
  font-family: grotesk-regular;
  padding: 0;
  margin: 0;
}
