.akustyczni-jumbo {
  background: transparent;
}
.look {
  background: green;
  color: yellow;
  animation: fadein 2s;
}
.title {
  background: transparent;
  display: flex;
  justify-content: center;
  color: rgba(175, 175, 175, 1);
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  padding: 15px 0;
  margin: 15px 0;
  max-height: 200px;
}
.subtitle {
  background: transparent;
  color: rgba(175, 175, 175, 1);
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 0 0;
}

.intro-text {
  background: transparent;
  color: rgba(175, 175, 175, 1);
  line-height: 26px;
  letter-spacing: 0.05rem;
  font-size: 20px;
  padding: 5px;
  text-align: justify;
  margin: auto 0;
}
.front-photo {
  background: transparent;
  display: block;
  margin: auto;
  max-width: 250px;
  max-height: 250px;
}
.person {
  background: transparent;
  padding: 50px 0 50px 0;
  .name {
    background: transparent;
    display: flex;
    justify-content: center;
    color: rgba(175, 175, 175, 1);
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0 30px 0;
    max-height: 200px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
