.title { color: #212121; font-size: 35px; font-weight: 600; font-style: normal; margin-top: 50px; }

.subtitle { color: #999; font-size: 14px; font-weight: 400; padding: 10px 0 0 0; }

.akustyczni-jumbo { height: 100vh; }
