.title { display: flex; justify-content: center; color: #212121; font-size: 35px; font-weight: 600; font-style: normal; margin: 15px 0; max-height: 200px; }

.subtitle { color: #999; font-size: 14px; font-weight: 400; padding: 10px 0 0 0; }

.intro-text { color: #5d5d5d; line-height: 24px; padding: 5px; text-align: justify; margin: auto 0; }

.front-photo { display: block; margin: auto; max-width: 250px; max-height: 250px; }

.person { padding: 50px 0 50px 0; }

.person .name { display: flex; justify-content: center; color: #212121; font-size: 30px; font-weight: 400; font-style: italic; margin: 10px 0 30px 0; max-height: 200px; }
