.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      padding: 3px;
      margin: 5px;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .insta-icon {
      &:hover {
        color: #2C6A93;
      }
    }
    .face-icon {
      &:hover{
        color: #3B5998;
      }
    }
  }
  .footer-credits {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
