.footer {
  background: transparent;
  color: #fff;
  padding: 1rem;
  text-align: center;
  .footer-icons {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      background: transparent;
      padding: 3px;
      margin: 5px;
      font-size: 20px;
      &:hover {
        color: #3b5998;
        cursor: pointer;
      }
    }
  }
  .footer-credits {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
