.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .form-name {

  }
  .form-mssg {
    textarea {
      min-height: 300px;
      min-width: 300px;
    }
  }
}
