.navigation {
  padding: 20px;
  .logo {
    display: block;
    margin: 0 auto;
    height: 120px;
    width: 120px;
  }
  .nav {
    justify-content: flex-start;
    align-items: center;

  }
  ul {
    background-color: #ffcccc;
    border: 1px solid #990000;
    border-radius: 25px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    li:nth-last-of-type(1) {
      border-right: none;
    }
    li {
      border-right: 1px solid #990000;
      display: inline-block;
      text-align: center;
      position: relative;
      a {
        display: block;
        font-size: 20px;
        color: #000;
        margin: 10px;
        text-decoration: none;
        &:hover {
          font-weight: bold;
          color: #A52025;
          transition: 0.2s;
        }
      }
      &:hover {
        ul {
          display: flex;
        }
      }
      ul {
        display: none;
        position: absolute;
        margin: 0;
        align-items: center;
        justify-content: center;
        li {
          display: inline-block;
          text-align: center;
          color: #fff;
          a {
            display: block;
          }
        }
      }
    }
  }
}
