.navigation {
  padding: 10px 0 0;
  box-shadow: 1px 1px 1px 1px #e0e0e0;

  a {
    background: transparent;
    margin: 0 auto;
  }
  .logo {
    background: transparent;
    display: block;
    margin: 1.5vh 20vw 1.5vh 0;
    height: 80px;
    width: 80px;
    filter: drop-shadow(0px 0px 0px rgba(38, 38, 38, 0.3)) invert(70%);
  }
  .nav {
    padding: 20px;
    justify-content: space-around;
    align-items: center;
  }
  .active {
    color: rgba(248, 248, 248, 0.9);
  }
  .menu-el {
    padding: 10px;
  }
  ul {
    background: transparent;
    display: flex;
    list-style: none;
    li {
      background: transparent;
      display: inline-block;
      text-align: center;
      position: relative;
      a {
        display: block;
        font-size: 20px;
        color: rgba(175, 175, 175, 1);
        padding: 0 0 0 24px;
        text-decoration: none;

        &:hover {
          color: rgba(248, 248, 248, 0.9);
          transition: 0.2s;
        }
      }
      &:hover {
        ul {
          display: flex;
        }
      }
    }
  }
}
