.navigation {
  padding: 20px;
  .logo {
    display: block;
    margin: 0 auto;
    height: 180px;
    width: 180px;
  }
  .nav {
    justify-content: flex-start;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    li {
      display: inline-block;
      text-align: center;
      position: relative;
      a {
        display: block;
        font-size: 20px;
        color: #000;
        margin: 10px;
        text-decoration: none;
        &:hover {
          color: #A52025;
          transition: 0.2s;
        }
      }
      &:hover {
        ul {
          display: flex;
        }
      }
      ul {
        display: none;
        position: absolute;
        right: -50%;
        left: 50%;
        margin: 0;
        align-items: center;
        justify-content: center;
        li {
          display: inline-block;
          text-align: center;
          color: #fff;
          a {
            display: block;
          }
        }
      }
    }
  }
}
