.navigation {
  padding: 10px 0 0;
  box-shadow: 1px 1px 1px 1px #e0e0e0;

  .logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 2px;
    height: 80px;
    width: 80px;
  }
  .nav {
    justify-content: center;
    align-items: center;

  }
  .active {
    color: #e65656;
  }
  ul {
    display: flex;
    list-style: none;
    li {
      display: inline-block;
      text-align: center;
      position: relative;
      a {
        display: block;
        font-size: 20px;
        color: #000;
        padding: 0 0 0 24px;
        text-decoration: none;

        &:hover {
          font-weight: bold;
          color: #e65656;
          transition: 0.2s;
        }
      }
      &:hover {
        ul {
          display: flex;
        }
      }

      }
    }
  }
